{% extends 'base.html' %}


{% load static %}


    {% block content %}
    
<form method="POST">
    {% csrf_token %}
    <div class="flex justify-center h-screen items-center bg-[#f1f5f9]">
        <div
            class="flex flex-col items-center justify-between bg-white w-[400px] h-[500px] py-[2em] px-[1em] rounded-[20px] shadow-[#8390A2] shadow-lg max-sm:w-3/5 max-sm:h-3/5">
            <div class="logo">
                <img src={% static 'logo.png' %} alt="logo" class="w-20 h-16 max-sm:w-14 max-sm:h-12">
            </div>
            <h2 class="text-[26px] font-bold text-[#1D2231] max-sm:text-[20px] text-center ">Sign in to your account
            </h2>
            <div class="w-full flex flex-col">
                <h4 class="text-[#1D2231] text-[16px] max-sm:text-[14px] font-normal">Email address</h4>
                <div type="text"
                    class="border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]">
                    {{form.username}}
                </div>
            </div>
            <div class="w-full flex flex-col">
                <div class="flex flex-row justify-between">
                    <h4 class="text-[#1D2231] text-[16px] max-sm:text-[14px] font-normal">Password</h4>
                    <h4 class="text-[#04d908] text-[16px] max-sm:text-[14px] font-normal hover:text-[#51e954]">
                        <a  href="#forgotPassword">Forgot
                            password?
                        </a>
                    </h4>
                </div>
                <div type="password"
                    class="border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]">

                    {{form.password}}
                </div>
            </div>

            <button
                class="w-full p-[0.3rem] rounded-[5px] text-[16px] font-semibold text-white bg-[#04d908] hover:bg-[#51e954] hover:text-[#eefaeb]"
                type="submit">
                Sign in
            </button>
            <div class="flex flex-row w-full justify-center">
                <h4 class="text-[#1D2231] text-[16px] max-sm:text-[14px] font-normal">don't have an account?</h4>
                <h4 class="ml-2 text-[#04d908] text-[16px] max-sm:text-[14px] font-normal hover:text-[#51e954]"><a
                        href={% url 'register' %}>
                        Register</a></h4>
            </div>

        </div>
    </div>
</form>


    {% endblock content %}