{% extends 'base.html' %}


{% load static %}


    {% comment %} <form method="post">
        {% csrf_token %}
        <div class="card">
            <h1 class="tag">Create an account</h1>
            <div class="details">
                <label for="email">
                <h4 class="text">Your email</h4>
            </label>
            <div class="email">
                {{form.email}}
            </div>
            </div>
            <div class="details">
                <label for="user">
                <h4 class="text">User name</h4>
            </label>
            <div class="user">
                {{form.username}}
            </div>
            </div>
            <div class="details">
                <label for="password">
                <h4 class="text">Password</h4>
            </label>
            <div class="password">
                {{form.password1}}
            </div>
            </div>
            <div class="details">
                <label for="cnc-pass">
                <h4 class="text">Confirm password</h4>
            </label>
            <div class="cnc-pass">
                {{form.password2}}
            </div>
            </div>
            <div class="terms">
                <input type="checkbox" class="check">
                <h4 class="text">I accept the <a href="#terms">Terms and Conditions</a></h4>
            </div>
            <button class="create">
                Create an account
            </button>
            <div class="login" >
                <h4 class="text">Already have an account? <a href={% url 'login' %}>Login here</a></h4>
            </div>
        </div>
    </form> {% endcomment %}
    
    {% block content %}
    <form method='POST'>
        {% csrf_token %}
    <div class="flex justify-center h-screen items-center bg-[#f1f5f9]">
        <div
            class="flex flex-col justify-between bg-white w-[450px] h-[550px] py-[3em] px-[2.5em] rounded-[20px] shadow-[#8390A2] shadow-lg max-sm:w-3/5 max-sm:h-3/5">
            <h1 class="text-[28px] font-bold text-[#1D2231] max-sm:text-[20px]">Create an account</h1>
            <div class="details">
                <label for="email">
                    <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">Your email</h4>
                </label>
                <div type="text"
                    class="w-full border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]"
                    id="email">
                    {{form.email}}
                </div>
            </div>
            <div class="details">
                <label for="user">
                    <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">User name</h4>
                </label>
                <div type="text"
                    class="w-full border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]"
                    id="user">
                    {{form.username}}
                </div>
            </div>
            <div class="details">
                <label for="password">
                    <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">Password</h4>
                </label>
                <div type="password"
                    class="w-full border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]"
                    id="password">
                    {{form.password1}}
                </div>
            </div>
            <div class="details">
                <label for="cnc-pass">
                    <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">Confirm password</h4>
                </label>
                <div type="password"
                    class="w-full border-[0.5px] border-[#8390A2] rounded-[5px] p-[0.35rem] focus:outline-none focus:border-[2px] focus:border-[#04d908] focus:p-[0.32rem]"
                    id="cnc-pass">
                    {{form.password2}}
                </div>
            </div>
            <div class="flex flex-row">
                <input type="checkbox" class="mr-2">
                <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">I accept the <a href="#terms"
                        class="ml-1 text-[#04d908] hover:text-[#51e954]">Terms
                        and Conditions</a></h4>
            </div>
            <button
                class="w-full p-[0.3rem] rounded-[5px] text-[16px] font-semibold text-white bg-[#04d908] hover:bg-[#51e954] hover:text-[#eefaeb]"
                type='submit'>
                Create an account
            </button>
            <div class="flex flex-row">
                <h4 class="font-medium text-[16px] text-[#1D2231] max-sm:text-[14px] ">Already have an account? <a
                        class="ml-1 text-[#04d908] hover:text-[#51e954]" href={% url 'login' %}>Login here</a></h4>
            </div>
        </div>
    </div>
</form>

{% endblock %}



