{% extends 'base.html' %}
{% load static %}

{% block content %}


    {{map|safe}}

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                All plants in the project
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Last checked
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type and details
                    </th>
            </thead>
            <tbody>

                {% for p in plant %}

                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{p.plantID}}
                    </th>
                    <td class="px-6 py-4">
                        {{p.plantStatus}}
                    </td>
                    <td class="px-6 py-4">
                        {{p.lastChecked}}
                    </td>
                    <td class="px-6 py-4">
                        {{p.typeDetails}}
                    </td>
                    
                </tr>
                
                {% endfor %}

            </tbody>
        </table>
    </div>
    

{% endblock  %}

