{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href={% static 'index.css' %}>
</head>
<!-- --main-color: #04d908;
            --color-dark: #1D2231;
            --color-grey: #8390A2; -->

<body>
    <input type="checkbox" name="nav-toggle" class="" id="nav-toggle" hidden>
    <div class="flex overflow-x-hidden w-screen" x-data="{ sidebarOpen: true }">
        <aside
            class=" transform top-0 left-0 fixed overflow-x-hidden z-30 sidebar flex-shrink-0 transition-all duration-300 bg-[#04d908] h-screen lg:w-96 md:w-0 sm:w-0 w-0"
            :class="{ ' lg:w-20 md:w-96 sm:w-96 w-96 ' : !sidebarOpen } ">
            <div class="flex flex-row justify-between">
                <h1 class="  text-white p-4"><span class="lab la-asymmetrik p-2 mr-2 text-3xl"></span><span
                        class="text-3xl font-semibold " :class="{'lg:hidden '  : !sidebarOpen}">Asymmetrik</span></h1>
                <button class="p-4 mr-2 text-white text-3xl" :class="{'lg:hidden '  : !sidebarOpen}"
                    @click="sidebarOpen = !sidebarOpen">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                        width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm165.4 618.2l-66-.3L512 563.4l-99.3 118.4-66.1.3c-4.4 0-8-3.5-8-8 0-1.9.7-3.7 1.9-5.2l130.1-155L340.5 359a8.32 8.32 0 0 1-1.9-5.2c0-4.4 3.6-8 8-8l66.1.3L512 464.6l99.3-118.4 66-.3c4.4 0 8 3.5 8 8 0 1.9-.7 3.7-1.9 5.2L553.5 514l130 155c1.2 1.5 1.9 3.3 1.9 5.2 0 4.4-3.6 8-8 8z">
                        </path>
                    </svg>
                </button>
            </div>



            <div class="text-white text-left p-4 pt-0 pr-0 mt-8" :class="{ : !sidebarOpen}">
                <ul class="text-xl font-normal">
                    <li class="mb-2 pt-3 pl-2 pb-3 hover:bg-white hover:text-[#04d908] rounded-s-full ">
                        <a href={% url 'viewDashboard' %} class="">
                            <span class="las la-igloo p-2 mr-2 text-2xl cursor-pointer"></span>
                            <span class="" :class="{ 'lg:hidden ' : !sidebarOpen}">Dashboard</span></a>
                    </li>

                    <li class="mb-2 pt-3 pl-2 pb-3 hover:bg-white hover:text-[#04d908] rounded-s-full ">
                        <a href=""><span class="las la-clipboard-list p-2 mr-2 text-2xl"></span>
                            <span class="" :class="{  'lg:hidden ' : !sidebarOpen}">Projects</span></a>
                    </li>

                    <li class="mb-2  pt-3 pl-2 pb-3  hover:bg-white hover:text-[#04d908] rounded-s-full">
                        <a href=""><span class="las la-users p-2 mr-2 text-2xl"></span>
                            <span class="" :class="{ 'lg:hidden '  : !sidebarOpen}">Employes</span></a>
                    </li>
                    <li class="mb-2  pt-3 pl-2 pb-3  hover:bg-white hover:text-[#04d908] rounded-s-full">
                        <a href=""><span class="las la-user-circle p-2 mr-2 text-2xl"></span>
                            <span class="" :class="{  'lg:hidden ' : !sidebarOpen}">Accounts</span></a>
                    </li>

                    <li class="mb-2  pt-3 pl-2 pb-3  hover:bg-white hover:text-[#04d908] rounded-s-full">
                        <a href=""><span class="las la-clipboard-list p-2 mr-2 text-2xl"></span>
                            <span class="" :class="{  'lg:hidden ' : !sidebarOpen}">Tasks</span></a>
                    </li>
                    <li class="mb-2  pt-3 pl-2 pb-3  hover:bg-white hover:text-[#04d908] rounded-s-full ">
                        <a href=""><span class="las la-cog p-2 mr-2 text-2xl"></span>
                            <span class="" :class="{  'lg:hidden ': !sidebarOpen}">Settings</span></a>
                    </li>
                </ul>
            </div>
        </aside>


        <div class="bg-[#f1f5f9] w-screen flex flex-col h-screen lg:ml-20">
            <div
                class="flex fixed z-10 w-full lg:w-[calc(100%-80px)] items-center bg-white flex-row justify-between shadow-xl shadow-[rgba(146,146,146,0.2)] h-20">
                <h2 class="text-[25px] text-[#404449] font-semibold">
                    <label for="nav-toggle">
                        <button
                            class="las la-bars m-3 max-lg:bg-[#04d908] max-lg:p-2 max-lg:rounded-full max-lg:text-white"
                            @click="sidebarOpen = !sidebarOpen"></button>
                    </label>
                    Dashboard
                </h2>
                <div class="border-2 border-[#1D2231]-900 p-2 rounded-s-full rounded-e-full max-lg:hidden">
                    <span class="las la-search text-2xl text-center mr-4 ml-2"></span>
                    <input type="search" name="search" class="focus:border-none focus:outline-none mr-2 p-1" id=""
                        placeholder="Search here!">
                </div>
                <div class="flex m-4 justify-center items-center">
                    <img src="user.jpeg" class="h-12 w-12 rounded-full m-3" alt="">
                    <div class="flex flex-col justify-center items-start">
                        <h4 class="text-[#1D2231] font-semibold text-lg">Priyansu Dash</h4>
                        <small class="text-[#8390A2] font-medium text-sm">Super admin</small>
                    </div>
                </div>
            </div>



    {% block content %}
    
    
    
    
    
    {% endblock  %}
  </div>


</div>
    
  </body>
  
{% block forscript %}


{% endblock  %}

</html>