{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="card">
        <h2 class="tag">Enter the project details </h2>
        <div class="reg">
            <h4 class="text">Registration No.</h4>
            <div class="data-input">

            </div>
        </div>
        <div class="name-project">
            <h4 class="text">Name of project</h4>
            <div class="data-input">

            </div>
        </div>
        <div class="latitude-longitude">
            <h4 class="text">Enter latitude and longitude</h4>
            <div class="latitude-longitude-inputs">
                <div class="data-input">

                </div>
                <div class="data-input">

                </div>
            </div>
        </div>
        <div class="owner-name">
            <h4 class="text">Owner's Name</h4>
            <div class="data-input">

            </div>
        </div>
        <div class="project-select">
            <label for="projects">Choose a project:</label>
            <select name="projects" id="projects">
                <option value="">program 1</option>
                <option value="">program 2</option>
                <option value="">program 3</option>

            </select>
        </div>
        <h2 class="tag">Caretaker's details </h2>
        <div class="caretaker-name">
            <h4 class="text">Caretaker's Name</h4>
            <div class="data-input">

            </div>
        </div>
        <div class="caretaker-num">
            <h4 class="text">Caretaker's Number</h4>
            <div class="data-input">

            </div>
        </div>

        <button type="submit" id="button">
            Submit
        </button>
    </div>



{% endblock  %}